{% extends 'base.html' %}
{% load static %}

{% block content %}

  <!-- partial:index.partial.html -->
  <div id="viewport">
    <!-- Sidebar -->
    <div id="sidebar">
      <header>
        <a href="#">Elisa</a>
      </header>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashAdmin' %}">
            <i class="fas fa-th-large"></i> Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'input_surat' %}">
            <i class="fas fa-envelope"></i> Input Surat
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'output' %}">
            <i class="fas fa-file-import"></i> Output
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'arsip' %}">
            <i class="fas fa-inbox"></i> Arsip
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">
            <i class="fas fa-sign-out-alt"></i> Log Out
          </a>
        </li>
      </ul>
    </div>

    <!-- navbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">
        <ul class="navbar-nav ms-auto">
          <li id="dropdown" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img class="rounded-circle"
                    src="{% static 'images/undraw_profile.svg' %}"
                    height="30"
                    alt=""
                    loading="lazy">
              {{ user }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="#"><i class="fas fa-user"></i> Account</a></li>
              <div class="dropdown-divider"></div>
              <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Log Out</a></li>
            </ul>
          </li>
        </ul>
    </nav>

    <!-- Content -->

    <div id="input-surat">
      <div class="card">
        <h2 class="card-header">Input Surat</h2>
        <div class="card-body">
          <div class="col-md-5">
            {% if pesan == 1 %}
                  <div class="alert alert-success">Data Berhasil Disimpan</div>
            {% elif pesan == 0 %}
                  <div class="alert alert-danger">Data Gagal Disimpan</div>
            {% endif %}
            <form action="/input-surat/" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              
              {{ form.as_p }}

              <button class="btn btn-secondary">Tambah Surat</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- partial -->
{% endblock %}