{% extends 'base.html' %}

{% block content %}

<div class="login">
    <div class="container">
        <h4 class="text-center">FORM LOGIN</h4>
        <hr>

        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <div class="input-group">
                    <div class="input-group-text">
                        <i class="fa fa-user"></i>
                    </div>
                    <input type="text" class="form-control" placeholder="Masukkan Username Anda">
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Password</label>
                <div class="input-group">
                    <div class="input-group-text">
                        <i class="fas fa-unlock-alt"></i>
                    </div>
                    <input type="password" class="form-control" placeholder="Masukkan Password Anda">
                </div>
            </div>
            <div class="tombol text-end"><button type="submit" class="btn btn-secondary">Login</button></div>
        </form>
    </div>
</div>

{% endblock %}