{% extends 'base.html' %}
{% load static %}

{% block content %}

  <!-- partial:index.partial.html -->
  <div id="viewport">
    <!-- Sidebar -->
    <div id="sidebar">
      <header>
        <a href="#">Elisa</a>
      </header>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashAdmin' %}">
            <i class="fas fa-th-large"></i> Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'input_surat' %}">
            <i class="fas fa-envelope"></i> Input Surat
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'output' %}">
            <i class="fas fa-file-import"></i> Output
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'arsip' %}">
            <i class="fas fa-inbox"></i> Arsip
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">
            <i class="fas fa-sign-out-alt"></i> Log Out
          </a>
        </li>
      </ul>
    </div>

    <!-- navbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">
        <ul class="navbar-nav ms-auto">
          <li id="dropdown" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img class="rounded-circle"
                    src="{% static 'images/undraw_profile.svg' %}"
                    height="30"
                    alt=""
                    loading="lazy">
              {{ user }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDarkDropdownMenuLink">
              <!-- <li><a class="dropdown-item" href="#"><i class="fas fa-user"></i> Account</a></li>
              <div class="dropdown-divider"></div> -->
              <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Log Out</a></li>
            </ul>
          </li>
        </ul>
    </nav>

    <!-- Content -->

    <div id="input-surat">
      <div class="card">
        <h2 class="card-header">Output</h2>
        <div class="card-body">

          {% if pesan %}
            <div class="alert alert-success">{{pesan}}</div>
          {% endif %} 

            <div class="col-4 mb-2">
                <form class="d-flex" action="/output/" method="post">
                  {% csrf_token %}
                    <input class="form-control me-2" name="keyword" type="search" placeholder="Masukkan Nomor Surat" aria-label="Search">
                    <button class="btn btn-secondary" type="submit">Search</button>
                </form>
            </div>

            <table class="table table-bordered table-striped text-center table-sm">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Nomor Masuk</th>
                        <th scope="col">Nomor Keluar</th>
                        <th scope="col">Cat. Dis1</th>
                        <th scope="col">Ket. Dis1</th>
                        <th scope="col">Cat. Dis2</th>
                        <th scope="col">Ket. Dis2</th>
                        <th scope="col">Cat. Dis3</th>
                        <th scope="col">Ket. Dis3</th>
                        <th scope="col">Upload</th>
                        <th scope="col">Action</th>
                        <th scope="col">Lihat Surat</th>
                    </tr>
                </thead>
                <tbody>
                  {% for surat in surats %}
                  
                            
                  <form action="/output/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                          {{ surat.surat_id.surat_id.surat_id.nomor_surat }}
                          <label for="{{ form.nomor_masuk.id_for_label }}" hidden>Nomor Masuk</label>
                          <input type="hidden" name="nomor_masuk" value="{{ surat.id }}" id="{{ form.nomor_masuk.id_for_label }}">
                        </td>
                        <td>
                          {{ form.nomor_keluar }}
                        </td>
                        <td>
                          {{ surat.surat_id.surat_id.catatan }}
                          <!-- <label for="{{ form.catatan_disposisi1.id_for_label }}" hidden>Nomor Masuk</label>
                          <input type="hidden" name="catatan_disposisi1" value="{{ surat.surat_id.surat_id.catatan }}" id="{{ form.catatan_disposisi1.id_for_label }}"> -->
                        </td>
                        <td>
                          {{ surat.surat_id.surat_id.keterangan_id }}
                          <!-- <label for="{{ form.keterangan_disposisi1.id_for_label }}" hidden>Nomor Masuk</label>
                          <input type="hidden" name="keterangan_disposisi1" value="{{ surat.surat_id.surat_id.keterangan_id }}" id="{{ form.keterangan_disposisi1.id_for_label }}"> -->
                        </td>
                        <td>
                          {{ surat.surat_id.catatan }}
                          <!-- <label for="{{ form.catatan_disposisi2.id_for_label }}" hidden>Nomor Masuk</label>
                          <input type="hidden" name="catatan_disposisi2" value="{{ surat.surat_id.catatan }}" id="{{ form.catatan_disposisi2.id_for_label }}"> -->
                        </td>
                        <td>
                          {{ surat.surat_id.keterangan_id }}
                          <!-- <label for="{{ form.keterangan_disposisi2.id_for_label }}" hidden>Nomor Masuk</label>
                          <input type="hidden" name="keterangan_disposisi2" value="{{ surat.surat_id.keterangan_id }}" id="{{ form.keterangan_disposisi2.id_for_label }}"> -->
                        </td>
                        <td>
                          {{ surat.catatan }}
                          <!-- <label for="{{ form.catatan_disposisi3.id_for_label }}" hidden>Nomor Masuk</label>
                          <input type="hidden" name="catatan_disposisi3" value="{{ surat.catatan }}" id="{{ form.catatan_disposisi3.id_for_label }}"> -->
                        </td>
                        <td>
                          {{ surat.keterangan_id }}
                          <!-- <label for="{{ form.keterangan_disposisi3.id_for_label }}" hidden>Nomor Masuk</label>
                          <input type="hidden" name="keterangan_disposisi3" value="{{ surat.keterangan_id }}" id="{{ form.keterangan_disposisi3.id_for_label }}"> -->
                        </td>
                        <td>
                          <label for="id_upload_luaran" hidden>Upload luaran:</label>
                          <input type="file" name="upload_luaran" id="id_upload_luaran">
                        </td>
                        <td><button class="btn btn-secondary">Submit</button></td> 
                  </form>
                        <td><a href="../../media/{{ surat.surat_id.surat_id.surat_id.file_surat }}" target="blank"><button class="btn btn-secondary">Lihat</button></a></td>
                      </tr>


                  {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
  <!-- partial -->
{% endblock %}